PORT=8000
NODE_ENV=development
DATABASE_URL="postgres://username:password@localhost:5432/novella"
JWT_SECRET=5a1b3c2d4e5f6g7h8i9j0k1l2m
JWT_EXPIRES_IN=7d
BETTER_STACK_SOURCE_TOKEN=
CLOUDINARY_API_KEY=
CLOUDINARY_NAME=
CLOUDINARY_API_SECRET=